@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.header {
	background: #fff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	min-height: 5rem;
	padding: 1rem 0;
	box-shadow: 0 2px 5px #e6e6e6;
}
.header h1 {
	color: #646cff;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 2.2rem auto;
	padding: 2rem 0;
	/* text-align: center; */
}

h2 {
	margin: 1.2rem 0;
	color: #343434;
}
.content button {
	margin-top: 1.4rem;
	padding: 1rem 2rem;
	border-radius: 8px;
	border-style: none;
	/* background-color: #646cff; */
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.15s;
}

.content textarea {
	width: 60%;
	height: 50%;
	padding: 12px 20px;
	border: none;
	outline: 1px solid #646cff;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}

.footer {
	position: block;
	margin: 0;
	bottom: 0;
	width: 100%;
	min-height: 5.5rem;
	background-color: #cacdff;
	padding: 1.5rem 0;
	text-align: center;
}

.footer h3 {
	max-width: 445px;
	margin: 16px auto;
	color: #343434;
	line-height: 1.5;
}

.footer p {
	color: #2c2b2b;
	margin: 2rem;
}
.text-holder {
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 1rem 4%;
}
.note {
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 5px #ccc;
	padding: 10px;
	width: 240px;
	margin: 16px;
	position: relative;
}
.note p {
	padding-bottom: 0.875rem;
	margin-bottom: 1.5rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.note button {
	padding: 0.345rem 0.87rem;
	background-color: #f72c25;
	border-radius: 0.875rem;
	color: white;
	border: none;

	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	cursor: pointer;
	box-shadow: 0 2px 5px #f55f59;
	transition: background-color 0.15s;
}
.note button:hover {
	background-color: #e01d17;
}
